body {
  font-size: 12px;
  color:#000;
  background-color: rgb(248, 248, 248);
}
body,ul,li,p{
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  color:#000;
  text-decoration: none;
}
img{
  vertical-align: top;
}